 
/* start css.sty */
.ecss-1200{ font-family: sans-serif;}
.ecss-1200{ font-family: sans-serif;}
.ecss-1200{ font-family: sans-serif;}
.ecss-1200{ font-family: sans-serif;}
.ecss-1200{ font-family: sans-serif;}
.ecss-1200{ font-family: sans-serif;}
.ecss-1200{ font-family: sans-serif;}
.ecss-1200{ font-family: sans-serif;}
.ecss-2074{font-size:166%; font-family: sans-serif;}
.ecss-2074{ font-family: sans-serif;}
.ecss-2074{ font-family: sans-serif;}
.ecss-2074{ font-family: sans-serif;}
.ecss-2074{ font-family: sans-serif;}
.ecss-2074{ font-family: sans-serif;}
.ecss-2074{ font-family: sans-serif;}
.ecss-2074{ font-family: sans-serif;}
.ecss-1440{font-size:116%; font-family: sans-serif;}
.ecss-1440{ font-family: sans-serif;}
.ecss-1440{ font-family: sans-serif;}
.ecss-1440{ font-family: sans-serif;}
.ecss-1440{ font-family: sans-serif;}
.ecss-1440{ font-family: sans-serif;}
.ecss-1440{ font-family: sans-serif;}
.ecss-1440{ font-family: sans-serif;}
.ectt-1200{ font-family: monospace,monospace;}
.ectt-1200{ font-family: monospace,monospace;}
.ectt-1200{ font-family: monospace,monospace;}
.ectt-1200{ font-family: monospace,monospace;}
.ectt-1200{ font-family: monospace,monospace;}
.ectt-1200{ font-family: monospace,monospace;}
.ectt-1200{ font-family: monospace,monospace;}
.ectt-1200{ font-family: monospace,monospace;}
.cmsmf-8{font-size:66%;}
.cmssmi-8{font-size:66%;}
.cmssmi-6{font-size:50%;}
.cmsssy-8{font-size:66%;}
.ecsx-1200{ font-weight: bold;}
.ecsx-1200{ font-weight: bold;}
.ecsx-1200{ font-weight: bold;}
.ecsx-1200{ font-weight: bold;}
.ecsx-1200{ font-weight: bold;}
.ecsx-1200{ font-weight: bold;}
.ecsx-1200{ font-weight: bold;}
.ecsx-1200{ font-weight: bold;}
.ecss-1095{font-size:83%; font-family: sans-serif;}
.ecss-1095{ font-family: sans-serif;}
.ecss-1095{ font-family: sans-serif;}
.ecss-1095{ font-family: sans-serif;}
.ecss-1095{ font-family: sans-serif;}
.ecss-1095{ font-family: sans-serif;}
.ecss-1095{ font-family: sans-serif;}
.ecss-1095{ font-family: sans-serif;}
.ecss-1000{font-size:83%; font-family: sans-serif;}
.ecss-1000{ font-family: sans-serif;}
.ecss-1000{ font-family: sans-serif;}
.ecss-1000{ font-family: sans-serif;}
.ecss-1000{ font-family: sans-serif;}
.ecss-1000{ font-family: sans-serif;}
.ecss-1000{ font-family: sans-serif;}
.ecss-1000{ font-family: sans-serif;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, .likepartHead { font-size: 2em; }
.chapterHead, .likechapterHead { font-size: 1.7411em; }
.sectionHead, .likesectionHead { font-size: 1.5157em; }
.subsectionHead, .likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="main"]{filter: invert(1); } } 
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .likesectionToc, .sectionToc {margin-left:1em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsubsectionToc, .subsubsectionToc {margin-left:3em;}
.paragraphToc, .likeparagraphToc {margin-left:4em;}
.subparagraphToc, .likesubparagraphToc {margin-left:5em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.tcolorbox{margin-top:0.5em;margin-bottom: 0.5em;}
.tcolorbox .lowerbox{margin-top:0pt;}
.rotatebox{display: inline-block;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
code.lstinline{font-family:monospace,monospace;}
pre.listings{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: pre-wrap; }
.lstinputlisting .label{margin-right:0.5em;}
.cancel{background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);}
.bcancel{background: linear-gradient(to bottom left, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);}
.xcancel{background: linear-gradient(to bottom left, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%), linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);}
dl.enumerate-enumitem{display:grid; grid-template-columns: 3ch 1fr; align-items: top; row-gap:1ch;}
dt.printshorthands{float:left; clear:left; margin-right:1em;}
dd.thebibliography {margin-left: 2.5em;}
dt.thebibliography {float:left; clear:left; margin-right:1em;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
div.array {text-align:center;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
table.longtable{border-collapse: collapse; border-spacing: 0;}
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
caption.longtable .id{font-weight:bold;}
.caption span.id{font-weight: bold;}
 .wrapfig-r, .wrapfig-ri, .wrapfig-ir, .wrapfig-ro, .wrapfig-or {float:right; text-align:left; margin-left:auto; margin-top:0.5em;} 
 .wrapfig-l, .wrapfig-li, .wrapfig-il, .wrapfig-lo, .wrapfig-ol {float:left; text-align:left; margin-right:auto; margin-top:0.5em;} 
.wrapfig-r .caption td.content, .wrapfig-ri .caption td.content, .wrapfig-ir .caption td.content, .wrapfig-ro .caption td.content, .wrapfig-or .caption td.content, .wrapfig-l .caption td.content, .wrapfig-li .caption td.content, .wrapfig-il .caption td.content, .wrapfig-lo .caption td.content, .wrapfig-ol .caption td.content {white-space: normal; }
.wrapfig-r .caption, .wrapfig-ri .caption, .wrapfig-ir .caption, .wrapfig-ro .caption, .wrapfig-or .caption, .wrapfig-l .caption, .wrapfig-li .caption, .wrapfig-il .caption, .wrapfig-lo .caption, .wrapfig-ol .caption {width:30%; }
div.subfigure {text-align:center;display:inline-block; max-width:45%;}
#tcolobox-1 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-1 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-1 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-2 .tcolorbox-title{color: #FFFFFF; background-color: #B200B2;}
#tcolobox-2 .tcolorbox-content{color: #000000; background-color: #FFF7FF; border: 1px solid #B200B2;}
#tcolobox-2 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-3 .tcolorbox-title{color: #FFFFFF; background-color: #B200B2;}
#tcolobox-3 .tcolorbox-content{color: #000000; background-color: #FFF7FF; border: 1px solid #B200B2;}
#tcolobox-3 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-4 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-4 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-4 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#TBL-1-2{border-right:1px solid black;}
#tcolobox-5 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-5 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-5 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-6 .tcolorbox-title{color: #FFFFFF; background-color: #B200B2;}
#tcolobox-6 .tcolorbox-content{color: #000000; background-color: #FFF7FF; border: 1px solid #B200B2;}
#tcolobox-6 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-7 .tcolorbox-title{color: #FFFFFF; background-color: #004D00;}
#tcolobox-7 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #004D00;}
#tcolobox-7 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#TBL-2-2{border-right:1px solid black;}
#TBL-2-4{border-right:1px solid black;}
#tcolobox-8 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-8 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-8 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-9 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-9 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-9 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-10 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-10 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-10 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-11 .tcolorbox-title{color: #FFFFFF; background-color: #004D00;}
#tcolobox-11 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #004D00;}
#tcolobox-11 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
span#textcolor1{color:#FF0000}
#tcolobox-12 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-12 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-12 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-13 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-13 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-13 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-14 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-14 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-14 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-15 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-15 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-15 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-16 .tcolorbox-title{color: #FFFFFF; background-color: #004D00;}
#tcolobox-16 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #004D00;}
#tcolobox-16 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-17 .tcolorbox-title{color: #FFFFFF; background-color: #800000;}
#tcolobox-17 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #800000;}
#tcolobox-17 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-18 .tcolorbox-title{color: #FFFFFF; background-color: #004D00;}
#tcolobox-18 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #004D00;}
#tcolobox-18 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-19 .tcolorbox-title{color: #FFFFFF; background-color: #B200B2;}
#tcolobox-19 .tcolorbox-content{color: #000000; background-color: #FFF7FF; border: 1px solid #B200B2;}
#tcolobox-19 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-20 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-20 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-20 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-21 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-21 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-21 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-22 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-22 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-22 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-23 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-23 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-23 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-24 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-24 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-24 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-25 .tcolorbox-title{color: #FFFFFF; background-color: #004D00;}
#tcolobox-25 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #004D00;}
#tcolobox-25 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-26 .tcolorbox-title{color: #FFFFFF; background-color: #004D00;}
#tcolobox-26 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #004D00;}
#tcolobox-26 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-27 .tcolorbox-title{color: #FFFFFF; background-color: #800000;}
#tcolobox-27 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #800000;}
#tcolobox-27 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-28 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-28 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-28 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#TBL-3-2{border-right:1px solid black;}
#tcolobox-29 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-29 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-29 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-30 .tcolorbox-title{color: #FFFFFF; background-color: #004D00;}
#tcolobox-30 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #004D00;}
#tcolobox-30 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-31 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-31 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-31 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-32 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-32 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-32 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-33 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-33 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-33 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-34 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-34 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-34 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-35 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-35 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-35 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-36 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-36 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-36 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-37 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-37 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-37 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-38 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-38 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-38 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-39 .tcolorbox-title{color: #FFFFFF; background-color: #B200B2;}
#tcolobox-39 .tcolorbox-content{color: #000000; background-color: #FFF7FF; border: 1px solid #B200B2;}
#tcolobox-39 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-40 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-40 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-40 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-41 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-41 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-41 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-42 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-42 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-42 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-43 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-43 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-43 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-44 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-44 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-44 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-45 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-45 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-45 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-46 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-46 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-46 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-47 .tcolorbox-title{color: #FFFFFF; background-color: #004D00;}
#tcolobox-47 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #004D00;}
#tcolobox-47 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-48 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-48 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-48 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-49 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-49 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-49 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-50 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-50 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-50 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-51 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-51 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-51 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
span#textcolor2{color:#FF0000}
#tcolobox-52 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-52 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-52 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-53 .tcolorbox-title{color: #FFFFFF; background-color: #004D00;}
#tcolobox-53 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #004D00;}
#tcolobox-53 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
span#textcolor3{color:#FF0000}
span#textcolor4{color:#FF0000}
#tcolobox-54 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-54 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-54 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-55 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-55 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-55 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-56 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-56 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-56 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-57 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-57 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-57 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-58 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-58 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-58 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
span#textcolor5{color:#FF0000}
#tcolobox-59 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-59 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-59 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-60 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-60 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-60 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-61 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-61 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-61 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
#tcolobox-62 .tcolorbox-title{color: #FFFFFF; background-color: #FF8000;}
#tcolobox-62 .tcolorbox-content{color: #000000; background-color: #FFFFD9; border: 1px solid #FF8000;}
#tcolobox-62 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
span#textcolor6{color:#FF0000}
#tcolobox-63 .tcolorbox-title{color: #FFFFFF; background-color: #00B2B2;}
#tcolobox-63 .tcolorbox-content{color: #000000; background-color: #E5FFFF; border: 1px solid #00B2B2;}
#tcolobox-63 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:14.22635px; padding-right:14.22635px; }
/* end css.sty */

